# Ignore everything inside the uploads directory
# Except for the .keep file, so that git will keep the empty directory
api/uploads/**
!api/uploads/.keep
api/jobs/**
!api/jobs/.keep

api/tensors/**
!api/tensors/.keep

# Cache
__pycache__/

# Environment variables
.env

# Next
/node_modules
/.pnp
.pnp.js
/.next/
/out/
/build